@charset "UTF-8";
/* CSS Document */
  body {
    background-color: orange;
    margin: 0;
    font-size: 10px;
  }

#container {
	  width:100%;
	  margin-top: 40vh;
	  margin-left: 10vh;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-transform: uppercase;
    color: white;
	  font-size: 2.8em;
    text-align: center;
  }
 

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    height: auto;

  }


/* tell browser don't display it when screen is wider than 768px */
  .mobile-only {
    display: none;
  }

/* tell browser to do the followings when screen is at and narrower than 768px */
  @media only screen and (max-width: 768px) {
	  
    body {
      background-color: bisque;
    }
	  
	#container {
      margin-top: 20vh;
    }
	   
    p {
    color: #C55D31;
    }
	  
	#cursive {
  	}
	  
    .mobile-only {
      display: block;
    }
	  /* Now the style and content for desktop will not be displied */
    .desktop-only {
      display: none;
      background-color: tan;
    }

} /* don't forget to close the styles for mobile/